* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: #ededed7c;
}

.wrapper {
  background: url("../img/bg-home.jpg");
  background-position: top 10% right 10%;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes Blink {
  0% {
    background-color: #106dd8;
  }
  40% {
    background-color: #106dd8;
  }
  70% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    background-color: #106dd8;
  }
}

.cursor {
  display: inline-block;
  width: 10px;
  height: 40px;
  background-color: #106dd8;
  animation: Blink 1s infinite;
}
@media (max-width: 600px) {
  .cursor {
    height: 30px;
  }
}

.stop-blink {
  animation: none;
}

#source-code {
  margin: 30px;
}

@media (max-width: 600px) {
  #source-code {
    margin: 0;
  }
}
